[ req ]
#default_bits		= 2048
#default_md		= sha256
#default_keyfile 	= privkey.pem
distinguished_name	= req_distinguished_name
attributes		= req_attributes

[ req_distinguished_name ]
countryName			= JP
countryName_min			= 2
countryName_max			= 2
stateOrProvinceName		= Tokyo
localityName			= example.com
0.organizationName		= tomonati.inc
organizationalUnitName		= sales
commonName			= tomo
commonName_max			= 64
emailAddress			= webmaster@example.com
emailAddress_max		= 64

[ req_attributes ]
challengePassword		= A challenge password
challengePassword_min		= 4
challengePassword_max		= 20

[ CA ]
basicConstraints=critical,CA:TRUE,pathlen:0
keyUsage=digitalSignature,keyCertSign,cRLSign

[ Server ]
basicConstraints=CA:FALSE
keyUsage=digitalSignature,dataEncipherment
extendedKeyUsage=serverAuth

[ Client ]
basicConstraints=CA:FALSE
keyUsage=digitalSignature,dataEncipherment
extendedKeyUsage=clientAuth

[ req_distinguished_name ]
countryName_default = JP
stateOrProvinceName_default = Tokyo
localityName_default = example.com
emailAddress_default = webmaster@example.com
